<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home | Connect</title>
    <base href="/conect/">
    <link rel="shortcut icon" href="resources/favicon.ico">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="resources/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/template-cop.css" />
    <link rel="stylesheet" type="text/css" href="resources/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link href="resources/css/animsition.css" rel="stylesheet">
</head>

<body>
    <div class="animsition">
        {% block body %}{% endblock %}
      
        <script src="resources/js/jquery.min.js"></script>
        <script src="resources/js/snap.svg-min.js"></script>
        <script src="resources/js/animsition.js" charset="utf-8"></script>
        <script src="resources/js/classie.js"></script>
        <script src="resources/js/TweenLite.min.js"></script>
        <script src="resources/js/EasePack.min.js"></script>
        <script src="resources/js/rAF.js"></script>
        <script src="resources/js/demo-1.js"></script>
        <script src='resources/js/jquery.leanModal.min.js'></script>
        <script src='resources/js/script.js'></script>
    </div>
</body>

</html>
