{% extends 'base.twig.html' %}

{% block body %}


        <!-- Login mode -->
        <div class="container">
            <div id="modal" class="popupContainer" style="display:none;">
                <header class="popupHeader">
                    <span class="header_title">Iniciar sesion</span>
                    <span class="modal_close"><i class="fa fa-times"></i></span>
                </header>
                <section class="popupBody">
                    <!-- Social Login -->
                    <div class="social_login">
                        <div class="container">
                            <h2>Bienvenido :)</h2>
                            <form action="{{url('dologin')}}" method="post">
                                <input id="email" type="text" name="usuario" placeholder="usuario" autocomplete="off" />
                                <input id="password" type="password" name="contrasena" placeholder="contraseña" />
                                <button id="btn-submit" type="submit" value="log_in">Iniciar sesion</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--  / Login mode -->
        <div class="container">
            <!--Menu  -->
            <nav id="menu" class="menu">
                <button class="menu__handle"><span>Menu</span></button>
                <div class="menu__inner">
                    <ul>
                        {% if sstade %}
                        <li class="nameprofile">{{suser.login}}</li>
                        {% if suser.administrador == true %}
                        <li class="typeprofile">administrador</li>
                        <li><a href="index.php"><span class="icon-circle"><i class="fa fa-home" aria-hidden="true"></i></span>Home</a></li>
                        <li><a href="{{url('buscador')}}"><i class="fa fa-calendar" aria-hidden="true"></i><span>Admin Eventos</span></a></li>
                        <li><a href="{{url('tipos')}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>Admin Tipos</span></a></li>
                        <li><a href="{{url('salir')}}"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Salir</span></a></li>
                        {% else %}
                        <li class="typeprofile">usuario</li>
                        <ul class="navigation-menu">
                            <li><a href="index.php"><span class="icon-circle"><i class="fa fa-home"></i></span>Home</a></li>
                            <li><a href="{{url('buscador')}}"><i class="fa fa-search" aria-hidden="true"></i><span>Buscar Eventos</span></a></li>
                            <li><a href="{{url('salir')}}"><span class="icon-circle"><i class="fa fa-sign-out"></i></span>Salir</a></li>
                        </ul>
                        {% endif %} {% else %}
                        <li><a href="index.php"><i class="fa fa-fw fa-home"></i><span>Home</span></a></li>
                        <li><a id="modal_trigger" href="#modal"><i class="fa fa-paw" aria-hidden="true"></i><span>Login</span></a></li>
                        <li><a href="{{url('buscador')}}"><i class="fa fa-search" aria-hidden="true"></i><span>Buscar Eventos</span></a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="morph-shape" data-morph-open="M300-10c0,0,295,164,295,410c0,232-295,410-295,410" data-morph-close="M300-10C300-10,5,154,5,400c0,232,295,410,295,410">
                    <svg width="100%" height="100%" viewBox="0 0 600 800" preserveAspectRatio="none">
                        <path fill="none" d="M300-10c0,0,0,164,0,410c0,232,0,410,0,410" />
                    </svg>
                </div>
            </nav>
            <!--Menu  -->
            <div class="main">
                <div class="container demo-1">
                    <div class="content">
                        <div id="large-header" class="large-header">
                            <canvas id="demo-canvas"></canvas>
                            <h1 class="main-title">Conectate<br> <span class="thin">Con tu artistas</span></h1>
                        </div>
                        <div class="header">
                            <h1>Connect <span>es una plataforma que te mantiene informado acerca de eventos en tu ciudad</span></h1>
                        </div>
                    </div>
                    <!-- Related demos -->
                    <section class="no-padding sbuscar">
                        <div class="buscador">
                            <form class="busform" method="post" action="{{url('buscar')}}">
                                <h2>¿ Qué deseas buscar ?</h2>
                                <input type="text" name="busqueda" placeholder="puedes buscar por artista o evento" class="form-input form-input-turqouise" />
                                <h2>¿ De cuantas estrellas buscas tu evento ?</h2>
                                <input type="text" name="estrellas" placeholder="Recuerda poner un numero de 1 a 5" class="form-input form-input-turqouise" />
                                <h2>¿ Cuanto quieres gastar en tu entrada ?</h2>
                                <input class="range blue" type="range" name="money" id="moneyid" value="0" min="0" max="{{max.maximo}}" step="10000" oninput="moneyidout.value = moneyid.value">
                                <div class="moneyplz">
                                    <output name="moneynameout" id="moneyidout">00000</output>
                                </div>
                                <button type="submit">buscar</button>
                            </form>
                        </div>
                    </section>
                </div>
                <!-- /container -->
            </div>
            <!-- /main -->

            {% endblock %}
